In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
        border-width: thin;
    }
</style>

# Data Cleaning - Youtube Channel Dataset

In [4]:
import pandas as pd

In [5]:
ytube = pd.read_csv('top-5000-youtube-channels-data-from-socialblade.csv')

In [6]:
ytube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [9]:
# Few quick observations are -
# Rank should be only int , remove post fix
# Channel name can be capitalized
# video uploads and subscribers are object and not int /float so needs a data cleaning

In [8]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [10]:
ytube['Rank'] = ytube['Rank'].str[0:-2].str.replace(',','').astype('int')

In [11]:
# other approach ytube['Rank']=ytube['Rank'].replace(regex=['st', 'nd','rd','th',','], value='')

In [12]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   int32
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int32(1), int64(1), object(4)
memory usage: 215.0+ KB

In [14]:
ytube['Subscribers'].min()  #So it  indicates we have -- in field and hence its object

'-- '

In [15]:
#ytube['Subscribers'].astype('int')
mask1 = ytube[ytube['Subscribers'].str.contains('-')].index
ytube.drop(labels=mask1, axis=0, inplace=True)

In [16]:
ytube['Subscribers']= ytube['Subscribers'].astype('int')

In [17]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4613 non-null   int32
 1   Grade          4613 non-null   object
 2   Channel name   4613 non-null   object
 3   Video Uploads  4613 non-null   object
 4   Subscribers    4613 non-null   int32
 5   Video views    4613 non-null   int64
dtypes: int32(2), int64(1), object(3)
memory usage: 216.2+ KB

In [19]:
ytube['Video Uploads'].min()# Similarly correct video upload table

'--'

In [20]:
#ytube['Video Uploads'].astype('int')
mask2 = ytube[ytube['Video Uploads'].str.contains('-')].index
ytube.drop(labels=mask2, axis=0, inplace=True)

In [21]:
ytube['Video Uploads']= ytube['Video Uploads'].astype('int')

In [22]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4610 non-null   int32
 1   Grade          4610 non-null   object
 2   Channel name   4610 non-null   object
 3   Video Uploads  4610 non-null   int32
 4   Subscribers    4610 non-null   int32
 5   Video views    4610 non-null   int64
dtypes: int32(3), int64(1), object(2)
memory usage: 198.1+ KB

In [23]:
#Further lets review Channel name

In [25]:
ytube[ytube['Channel name'] == ''] # we do not have any entry with null so looks good

Empty DataFrame
Columns: [Rank, Grade, Channel name, Video Uploads, Subscribers, Video views]
Index: []

In [26]:
#Lets review grade and find out unique grades

In [27]:
ytube['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [29]:
#Lets assign values to corresponding grande in a range of 5 to 1

In [30]:
channel_map = {'A++ ' : 5, 'A+ ': 4, 'A ': 3, 'A-' : 2, 'B+' : 1}

In [31]:
ytube['Grade']= ytube['Grade'].map(channel_map)

In [32]:
ytube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,5.0,Zee TV,82757,18752951,20869786591
1,2,5.0,T-Series,12661,61196302,47548839843
2,3,5.0,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,5.0,SET India,27323,31180559,22675948293
4,5,5.0,WWE,36756,32852346,26273668433

In [33]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4610 non-null   int32
 1   Grade          947 non-null    float64
 2   Channel name   4610 non-null   object
 3   Video Uploads  4610 non-null   int32
 4   Subscribers    4610 non-null   int32
 5   Video views    4610 non-null   int64
dtypes: float64(1), int32(3), int64(1), object(1)
memory usage: 198.1+ KB

In [34]:
# So data looks in correct shape now - Proceed with data analysis , viz