# inherited conepts from R , oracle . It's like table in database . 2D(row,column)

In [1]:
#Data frame - tabular representation of data

In [1]:
#Create a data frame

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data=np.random.randn(5,3)

In [5]:
data

array([[-1.0516147 ,  1.52225049,  0.8623108 ],
       [ 0.65623775,  0.48625213,  0.17827406],
       [-0.9471016 ,  0.55784127,  1.59388352],
       [-0.26636498, -1.10806222,  1.45745117],
       [-0.34478549,  0.16227225,  0.54774219]])

In [6]:
pd.DataFrame(data)

          0         1         2
0 -1.051615  1.522250  0.862311
1  0.656238  0.486252  0.178274
2 -0.947102  0.557841  1.593884
3 -0.266365 -1.108062  1.457451
4 -0.344785  0.162272  0.547742

In [7]:
pd.DataFrame(data,columns=['A','B','C'])

          A         B         C
0 -1.051615  1.522250  0.862311
1  0.656238  0.486252  0.178274
2 -0.947102  0.557841  1.593884
3 -0.266365 -1.108062  1.457451
4 -0.344785  0.162272  0.547742

In [15]:
pd.read_csv('Pandas_Series1.csv')

   ID Name  age
0   1    a   12
1   2    b   31
2   3   bc   23
3   4    d   21
4   6    s   65
5   7    f   67
6   8    h   38
7   9    h   92
8  10   vs   12

In [16]:
#letssay that  ID Name age are not colunm headers and you want ot create your own headers

In [9]:
headers=["col1","col2","col3"]

In [10]:
df=pd.read_csv('Pandas_Series1.csv', header=None, names=headers)

In [11]:
df

  col1  col2 col3
0   ID  Name  age
1    1     a   12
2    2     b   31
3    3    bc   23
4    4     d   21
5    6     s   65
6    7     f   67
7    8     h   38
8    9     h   92
9   10    vs   12

In [12]:
type(df)

pandas.core.frame.DataFrame