# Exercise

In [100]:
import pandas as pd

In [101]:
df=pd.read_csv('googleplaystore.csv')

In [102]:
#find total number of columns and datatype

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [104]:
#calculat stats parameter -- here only rating is numeric

In [105]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [106]:
#data type conversion 
# change review to float from string
df['Reviews'].apply(lambda x : x.replace('M','')).astype(float)

0           159.0
1           967.0
2         87510.0
3        215644.0
4           967.0
           ...
10836        38.0
10837         4.0
10838         3.0
10839       114.0
10840    398307.0
Name: Reviews, Length: 10841, dtype: float64

In [107]:
df['Reviews']=df['Reviews'].apply(lambda x : x.replace('M','')).astype(float)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  float64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [109]:
#get unqiue values 
df['Category'].nunique()

34

In [110]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [111]:
len(df['Category'].unique())

34

In [113]:
#avg rating app
df['Rating'].mean()

4.193338315362448

In [114]:
# avg ratingof app for photography cat
df[df['Category']=='PHOTOGRAPHY']['Rating'].mean()

4.192113564668767

In [117]:
df[df['Category']=='PHOTOGRAPHY']['Rating'].count()

317

In [119]:
#how many  app free and paid apps
df['Type'].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

In [120]:
df['Type'].value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

In [121]:
df['Type'].count()

10840

In [122]:
df.count()

App               10841
Category          10841
Rating             9367
Reviews           10841
Size              10841
Installs          10841
Type              10840
Price             10841
Content Rating    10840
Genres            10841
Last Updated      10841
Current Ver       10833
Android Ver       10838
dtype: int64

In [125]:
#avg value of number of reviews
df['Reviews'].mean()

444111.9265750392

In [126]:
#which app has avg number of reviews 
df[df['Reviews']==df['Reviews'].max()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device

In [132]:
maxreview=df['Reviews'].max()

In [133]:
maxreview

78158306.0

In [134]:
df[df['Reviews']==maxreview]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device

In [135]:
#select top 5 max review app

In [139]:
#sort and grab first 5 values

df['Reviews'].sort_values(ascending=False).head(5)

2544    78158306.0
3943    78128208.0
381     69119316.0
336     69119316.0
3904    69109672.0
Name: Reviews, dtype: float64

In [141]:
# get index  
id=df['Reviews'].sort_values(ascending=False).head(5).index

In [143]:
df.iloc[id]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
3943,Facebook,SOCIAL,4.1,78128208.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
381,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
336,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
3904,WhatsApp Messenger,COMMUNICATION,4.4,69109672.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device

In [144]:
# top five which has max installs
df['Installs'].head(3)

0       10,000+
1      500,000+
2    5,000,000+
Name: Installs, dtype: object

In [149]:
#challenge is here value is not numeric 
#we need to remove the comma and plus
df['Installs'].apply(lambda x : x.replace('+','').replace(',','') )
#still output is object type

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: object

In [151]:
#convert it to float but before that oneof the col has a value free
df[df['Installs']=='Free']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [152]:
#Lets drop this row

In [153]:
df.drop(labels=10472,axis=0,inplace=True)

In [154]:
df['Installs'].apply(lambda x : x.replace('+','').replace(',','') ).astype(float)

0           10000.0
1          500000.0
2         5000000.0
3        50000000.0
4          100000.0
            ...
10836        5000.0
10837         100.0
10838        1000.0
10839        1000.0
10840    10000000.0
Name: Installs, Length: 10840, dtype: float64

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  float64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.2+ MB

In [161]:
top5=list(df["Installs"].sort_values(ascending=False).head(5).index)

In [162]:
df.iloc[top5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1661,Temple Run 2,GAME,4.3,8118609.0,62M,"500,000,000+",Free,0,Everyone,Action,"July 5, 2018",1.49.1,4.0 and up
4039,Google Duo - High Quality Video Calls,COMMUNICATION,4.6,2083237.0,Varies with device,"500,000,000+",Free,0,Everyone,Communication,"July 31, 2018",37.1.206017801.DR37_RC14,4.4 and up
385,Viber Messenger,COMMUNICATION,4.3,11334973.0,Varies with device,"500,000,000+",Free,0,Everyone,Communication,"July 18, 2018",Varies with device,Varies with device
3562,Google Calendar,PRODUCTIVITY,4.2,858230.0,Varies with device,"500,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
4048,Dropbox,PRODUCTIVITY,4.4,1860844.0,61M,"500,000,000+",Free,0,Everyone,Productivity,"August 1, 2018",Varies with device,Varies with device