In [24]:
import pandas as pd

In [83]:
## Make a note that dataframe-series-stringmethod-str

In [84]:
# Depend on at what level u are applying on method , implementation is different

In [25]:
df=pd.read_csv("Sampledata.csv")

In [26]:
df

         0/ham/ram as
0       1/HAM/Ram As
1  2/spam/it is a spm

In [27]:
df=pd.read_csv("SampleData.csv", header=None,sep='/')

In [28]:
df

   0     1            2
0  0   ham       ram as
1  1   HAM      Ram As
2  2  spam  it is a spm

In [37]:
df=pd.read_csv("SampleData.csv", header=None,sep='/' , names=["Col1","Col2","Col3"])

In [38]:
df

   Col1  Col2         Col3
0     0   ham       ram as
1     1   HAM      Ram As
2     2  spam  it is a spm

In [39]:
type(df)

pandas.core.frame.DataFrame

In [40]:
##String methods

In [47]:
df["Col2"].str  # it shows that its not a string , its stringmethods and hence upper() will not work

In [48]:
df["Col2"].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [49]:
df["Col2"].str.upper()

0     HAM
1     HAM
2    SPAM
Name: Col2, dtype: object

In [50]:
df["Col2"].str.lower()

0     ham
1     ham
2    spam
Name: Col2, dtype: object

In [51]:
df["Col2"].str.len()

0    3
1    3
2    4
Name: Col2, dtype: int64

In [54]:
df["Col2"].str.title() # Initcap

0     Ham
1     Ham
2    Spam
Name: Col2, dtype: object

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    3 non-null      int64
 1   Col2    3 non-null      object
 2   Col3    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [60]:
df["Col2"].astype(str)

0     ham
1     HAM
2    spam
Name: Col2, dtype: object

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    3 non-null      int64
 1   Col2    3 non-null      object
 2   Col3    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [62]:
df["Col2"][0]

'ham'

In [63]:
len(df["Col2"][0])

3

In [65]:
str.upper(df["Col2"][0])

'HAM'

In [66]:
"Hi".replace("H","B")

'Bi'

In [67]:
df["Col2"][0].replace("h","m")

'mam'

In [71]:
##Here we can directly apply the change as idividual column is string

0     ham
1     HAM
2    spam
Name: Col2, dtype: object

In [72]:
type(df["Col2"])

pandas.core.series.Series

In [73]:
type(df["Col2"][0])

str

In [75]:
df["Col2"][0].strip("h") ## If u want to remove space then just give strip()

'am'

In [76]:
  df["Col2"][0].replace("h","m").replace("m","h")

'hah'

In [79]:
df["Col2"][0:]

0     ham
1     HAM
2    spam
Name: Col2, dtype: object

In [81]:
df["Col2"].str.startswith("h")

0     True
1    False
2    False
Name: Col2, dtype: bool

In [82]:
df["Col2"].str.contains("A")

0    False
1     True
2    False
Name: Col2, dtype: bool

In [85]:
df[df["Col2"].str.contains("A")]

   Col1 Col2     Col3
1     1  HAM  Ram As

In [86]:
df[df["Col2"].str.endswith("m")]

   Col1  Col2         Col3
0     0   ham       ram as
2     2  spam  it is a spm

In [88]:
df["Col3"]

0         ram as
1        Ram As
2    it is a spm
Name: Col3, dtype: object

In [89]:
df["Col3"].str.split(" ")

0           [ram, as]
1         [Ram, As, ]
2    [it, is, a, spm]
Name: Col3, dtype: object

In [90]:
rd=df["Col3"].str.split(" ")

In [91]:
type(rd)

pandas.core.series.Series

In [92]:
rd

0           [ram, as]
1         [Ram, As, ]
2    [it, is, a, spm]
Name: Col3, dtype: object

In [100]:
rd=df["Col3"][2]

In [101]:
rd

'it is a spm'

In [103]:
rd.split(maxsplit=2)

['it', 'is', 'a spm']

In [104]:
rd.split(maxsplit=2)[0]

'it'

In [105]:
df.columns

Index(['Col1', 'Col2', 'Col3'], dtype='object')

In [106]:
df.columns.str.len()

Int64Index([4, 4, 4], dtype='int64')

In [108]:
df.columns.str.upper()

Index(['COL1', 'COL2', 'COL3'], dtype='object')