# Install lib using pip install pandas_datareader

In [1]:
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'pandas_datareader'

In [4]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\swapnil\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: lxml in c:\users\swapnil\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: pandas>=0.23 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\swapnil\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\swapnil\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\swapnil\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\swapnil\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\swapnil\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\swapnil\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)

In [5]:
import pandas_datareader as pdr

In [6]:
from pandas_datareader import data

In [8]:
stocks=data.DataReader(name='MSFT' ,data_source="yahoo",start="2010-01-01",end='2010-01-05')

In [9]:
stocks.head(2)

             High    Low       Open      Close    Volume  Adj Close
Date
2009-12-31  30.99  30.48  30.980000  30.480000  31929700  23.438801
2010-01-04  31.10  30.59  30.620001  30.950001  38409100  23.800222

In [10]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2009-12-31 to 2010-01-05
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       3 non-null      float64
 1   Low        3 non-null      float64
 2   Open       3 non-null      float64
 3   Close      3 non-null      float64
 4   Volume     3 non-null      int64
 5   Adj Close  3 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 168.0 bytes

In [11]:
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05'], dtype='datetime64[ns]', name='Date', freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [12]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05'], dtype='datetime64[ns]', name='Date', freq=None)

In [13]:
len(stocks.index)

3

In [15]:
stocks.iloc[0:9]

             High        Low       Open      Close    Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700  23.438801
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100  23.800222
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600  23.807909

In [18]:
stocks.index.weekday

Int64Index([3, 0, 1], dtype='int64', name='Date')

In [19]:
stocks

             High        Low       Open      Close    Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700  23.438801
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100  23.800222
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600  23.807909

In [24]:
stocks.truncate(before="2009-12-31", after="2010-01-04")

             High    Low       Open      Close    Volume  Adj Close
Date
2009-12-31  30.99  30.48  30.980000  30.480000  31929700  23.438801
2010-01-04  31.10  30.59  30.620001  30.950001  38409100  23.800222

In [27]:
#Shift the data from 10 years 
import pandas as pd

In [28]:
stocks.index+pd.DateOffset(years=10)

DatetimeIndex(['2019-12-31', '2020-01-04', '2020-01-05'], dtype='datetime64[ns]', name='Date', freq=None)