In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
        border-width: thin;
    }
</style>

In [2]:
import pandas as pd

In [24]:
ytube = pd.read_csv('top-5000-youtube-channels-data-from-socialblade.csv')

In [25]:
ytube.head(2)

  Rank Grade Channel name Video Uploads Subscribers  Video views
0  1st  A++        Zee TV         82757    18752951  20869786591
1  2nd  A++      T-Series         12661    61196302  47548839843

In [26]:
ytube['Rank'].head(2)

0    1st
1    2nd
Name: Rank, dtype: object

In [18]:
#ytube['Rank']=ytube['Rank'].replace(regex=['st', 'nd','rd','th',','], value='')

In [ ]:
ytyube['Rank'].str[0:-2]

In [19]:
ytube['Rank']

0          1
1          2
2          3
3          4
4          5
        ...
4995    4996
4996    4997
4997    4998
4998    4999
4999    5000
Name: Rank, Length: 5000, dtype: object

In [20]:
ytube['Rank'].astype('int')

0          1
1          2
2          3
3          4
4          5
        ...
4995    4996
4996    4997
4997    4998
4998    4999
4999    5000
Name: Rank, Length: 5000, dtype: int32

In [22]:
ytube['Subscribers'].min()

'-- '

In [29]:
ytube['Subscribers'].str.contains('-')

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: Subscribers, Length: 5000, dtype: bool

In [34]:
indexl=ytube[ytube['Subscribers'].str.contains('-')].index

In [35]:
ytube.drop(labels=indexl,axis=0,inplace=True)

In [36]:
ytube[ytube['Subscribers'].str.contains('-')].index

Int64Index([], dtype='int64')

In [37]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           4613 non-null   object
 1   Grade          4613 non-null   object
 2   Channel name   4613 non-null   object
 3   Video Uploads  4613 non-null   object
 4   Subscribers    4613 non-null   object
 5   Video views    4613 non-null   int64
dtypes: int64(1), object(5)
memory usage: 252.3+ KB

In [40]:
ytube['Subscribers'].astype('int')

0       18752951
1       61196302
2       19238251
3       31180559
4       32852346
          ...
4995     2072942
4996     1055091
4997     3265735
4998       32990
4999       21172
Name: Subscribers, Length: 4613, dtype: int32

In [41]:
ytube['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ ', '\xa0 '], dtype=object)

In [42]:
channel_map = {'A++ ':5, 'A+ ':4, 'A ':3, 'A- ':2, 'B+ ':1}

In [43]:
 channel_map

{'A++ ': 5, 'A+ ': 4, 'A ': 3, 'A- ': 2, 'B+ ': 1}

In [ ]:
ytube['Grade']=ytube['Grade'].u