# Pandas Series

In [2]:
#Create a series 
import pandas as pd

# # Create Series - I

In [3]:
list=[2,43,67,89]
pd.Series(list)

0     2
1    43
2    67
3    89
dtype: int64

In [4]:
list_b=[True,False,True,True,2,'aa']
pd.Series(list_b)

0     True
1    False
2     True
3     True
4        2
5       aa
dtype: object

In [10]:
pd.Series(5,[1,2,3])  # this generates constant value 5 to mentioned indxes

1    5
2    5
3    5
dtype: int64

In [11]:
#mulitpe of 10
pd.Series([num*10 for num in range(10)])

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [12]:
#Creating dict series
dic={"A":0,"B":0}

In [13]:
pd.Series(dic)

A    0
B    0
dtype: int64

# Ceate a series from CSV

In [12]:
pd.read_csv('Pandas_Series.csv')
#here it does not specify type of object and first row is considered as a header

   1
0  2
1  3
2  4

In [13]:
type(pd.read_csv('Pandas_Series.csv'))

pandas.core.frame.DataFrame

In [15]:
s=pd.read_csv('Pandas_series.csv',header= None )

In [16]:
type(s)
#So now we have create a series type

pandas.core.frame.DataFrame

# Reading from a CSV with multiple columns

In [20]:
s=pd.read_csv('Pandas_series1.csv')

In [21]:
print(s)

   ID Name  age
0   1    a   12
1   2    b   31
2   3   bc   23
3   4    d   21
4   6    s   65
5   7    f   67
6   8    h   38
7   9    h   92
8  10   vs   12

In [22]:
s=pd.read_csv('Pandas_series1.csv',usecols=['age'])

In [32]:
print(s)

0    12
1    31
2    23
3    21
Name: age, dtype: int64

In [23]:
type(s)

pandas.core.frame.DataFrame