# Attributes and Methods

In [3]:
import pandas as pd

In [40]:
s=pd.read_csv('Pandas_Series1.csv',usecols=['age'])

In [21]:
print(s)
#Below are few attributes

   age
0   12
1   31
2   23
3   21
4   65
5   67
6   38
7   92
8   12

In [41]:
s.index

RangeIndex(start=0, stop=9, step=1)

In [8]:
s.values

array([[12],
       [31],
       [23],
       [21],
       [65],
       [67],
       [38],
       [92],
       [12]], dtype=int64)

In [9]:
s.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
s.ndim

In [42]:
s.size

9

In [12]:
s.is_unique

AttributeError: 'DataFrame' object has no attribute 'is_unique'

In [14]:
s.isnull

<bound method DataFrame.isnull of    age
0   12
1   31
2   23
3   21
4   65
5   67
6   38
7   92
8   12>

# Methods

In [43]:
s=s.add_suffix('x')

In [24]:
print(s)

   agex
0    12
1    31
2    23
3    21
4    65
5    67
6    38
7    92
8    12

In [25]:
s.add_suffix('Panda')

   agexPanda
0         12
1         31
2         23
3         21
4         65
5         67
6         38
7         92
8         12

In [26]:
s.sum()

agex    361
dtype: int64

In [27]:
s.idxmax()

agex    7
dtype: int64

In [39]:
max(s)

'agex'

In [28]:
s.idxmin()

agex    0
dtype: int64

In [30]:
top_rows=s.head()

In [45]:
top_rows

0    12
1    31
2    23
3    21
4    65
Name: age, dtype: int64

In [31]:
top_rows.tail(2)

   agex
3    21
4    65

In [32]:
s.mean()

agex    40.111111
dtype: float64

In [33]:
s.product()

agex    32826977688960
dtype: int64

In [34]:
s.std()
#Standard devidation

agex    28.197715
dtype: float64

In [36]:
#attribute
s.shape

(9, 1)

In [37]:
s.describe()

            agex
count   9.000000
mean   40.111111
std    28.197715
min    12.000000
25%    21.000000
50%    31.000000
75%    65.000000
max    92.000000

# label Indexing

In [46]:
import pandas as pd

In [47]:
colorcode=[1,2,3,4]
colors=['Red','Yellow','Green','Black']

In [48]:
ps=pd.Series(colorcode,colors) # so here colors work as a index

In [49]:
ps

Red       1
Yellow    2
Green     3
Black     4
dtype: int64

In [55]:
ps1=pd.Series(data=colors,index=colorcode)

In [56]:
ps1

1       Red
2    Yellow
3     Green
4     Black
dtype: object

In [57]:
type(ps1)

pandas.core.series.Series

In [66]:
ps1.index

Int64Index([1, 2, 3, 4], dtype='int64')

In [68]:
ps1.values

array(['Red', 'Yellow', 'Green', 'Black'], dtype=object)

# In place parameter , sort value sort index

In [58]:
colorcode=[1,2,3,4]
colors=['Red','Yellow','Green','Black']

In [59]:
ps=pd.Series(colors,colorcode)

In [60]:
ps

1       Red
2    Yellow
3     Green
4     Black
dtype: object

In [61]:
type(s)

pandas.core.frame.DataFrame

In [62]:
ps1.sort_values()

4     Black
3     Green
1       Red
2    Yellow
dtype: object

In [63]:
ps1.sort_values(ascending=True)

4     Black
3     Green
1       Red
2    Yellow
dtype: object

In [64]:
ps1.sort_values(ascending=False)

2    Yellow
1       Red
3     Green
4     Black
dtype: object

In [65]:
ps1.sort_index()

1       Red
2    Yellow
3     Green
4     Black
dtype: object

In [66]:
ps1.sort_index(ascending=False)

4     Black
3     Green
2    Yellow
1       Red
dtype: object

In [67]:
#make changes permanent
ps1.sort_values(inplace=True)

In [68]:
ps1

4     Black
3     Green
1       Red
2    Yellow
dtype: object

In [69]:
ps1

4     Black
3     Green
1       Red
2    Yellow
dtype: object

In [70]:
ps1.sort_index()

1       Red
2    Yellow
3     Green
4     Black
dtype: object

In [71]:
ps1.sort_index(inplace=True)

In [72]:
ps1

1       Red
2    Yellow
3     Green
4     Black
dtype: object

In [74]:
# .VALUES_COUNTS() METHOD
import pandas as pd

In [75]:
s1=pd.Series(['a','b','c','a','a','b','b','b','a'])

s1

In [77]:
s1  ##it created list structure as shown below with inexing

0    a
1    b
2    c
3    a
4    a
5    b
6    b
7    b
8    a
dtype: object

In [79]:
s1.value_counts()
# returns count of occurence for each value , this is kind of histogram

a    4
b    4
c    1
dtype: int64

In [80]:
s1.unique()

array(['a', 'b', 'c'], dtype=object)

In [97]:
s1.nunique()

3

In [111]:
#Apply methods -- it callsthefunction and passes series elelemnts as a input

In [112]:
s1

0    a
1    b
2    c
3    a
4    a
5    b
6    b
7    b
8    a
dtype: object

In [109]:
def covertstring(c):
    return (c+'a')

In [110]:
s1.apply(covertstring)

0    aa
1    ba
2    ca
3    aa
4    aa
5    ba
6    ba
7    ba
8    aa
dtype: object

In [114]:
s1 # it does not apply change to actual series

0    a
1    b
2    c
3    a
4    a
5    b
6    b
7    b
8    a
dtype: object

In [115]:
# map method

In [116]:
dict1={"a":"aa","b":"bb"}

In [117]:
dict1
s1.map(dict1)

0     aa
1     bb
2    NaN
3     aa
4     aa
5     bb
6     bb
7     bb
8     aa
dtype: object

In [120]:
s1.map('I am  {}'.format, na_action='ignore')

0    I am  a
1    I am  b
2    I am  c
3    I am  a
4    I am  a
5    I am  b
6    I am  b
7    I am  b
8    I am  a
dtype: object