In [21]:
import pandas as pd

In [22]:
pf=pd.read_csv("SampleData1.csv", header=None, sep='/', names=["Col1","Col2","Col3"])

In [23]:
pf

   Col1         Col2 Col3
0   ham       ram as  NaN
1   HAM      Ram As   NaN
2  spam  it is a spm  NaN
3  spam          xyz  asa
4   ram          abc  dsd

In [24]:
pf["Col2"]=="ram as"

0     True
1    False
2    False
3    False
4    False
Name: Col2, dtype: bool

In [25]:
pf[pf["Col2"]=="ram as"]

  Col1    Col2 Col3
0  ham  ram as  NaN

In [29]:
filter1 =pf["Col2"].str.contains("is")

In [30]:
pf[filter1]

   Col1         Col2 Col3
2  spam  it is a spm  NaN

In [31]:
pf[filter1]["Col1"]

2    spam
Name: Col1, dtype: object

In [33]:
pf[filter1][["Col1","Col2"]]

   Col1         Col2
2  spam  it is a spm