In [2]:
import datetime as dt

In [3]:
#Date object

In [4]:
dt.date(2019,2,25)

datetime.date(2019, 2, 25)

In [5]:
purchasedate=dt.date(2019,2,25)

In [6]:
purchasedate.year
purchasedate.month
purchasedate.day

25

In [7]:
purchasedate.isoweekday()

1

In [8]:
#Sunday is considered as a last day ie 7 and monday as 1

In [9]:
str(purchasedate)

'2019-02-25'

In [11]:
p_datetime=dt.datetime(2019,2,25,11,34,22)

In [13]:
p_datetime

datetime.datetime(2019, 2, 25, 11, 34, 22)

In [14]:
p_datetime.hour

11

In [15]:
p_datetime.second

22

In [16]:
#it returns a value in 24 hours cycle

# Pandas Timestamp and date  Timeindex object

In [17]:
import pandas as pd

In [20]:
pda=pd.Timestamp('2019-02-02')

In [21]:
pda

Timestamp('2019-02-02 00:00:00')

In [22]:
pda1=pd.Timestamp('2019/12/30 11:55:55')

In [23]:
pda1

Timestamp('2019-12-30 11:55:55')

In [24]:
pd.Timestamp(p_datetime)

Timestamp('2019-02-25 11:34:22')

In [25]:
#So we can pass the object as a paramters created in regular python

In [26]:
#Date Timeindex object

In [28]:
pda1=pd.DatetimeIndex(['2019/12/30 11:55:55'])

In [29]:
pda1

DatetimeIndex(['2019-12-30 11:55:55'], dtype='datetime64[ns]', freq=None)

In [36]:
pda1=pd.DatetimeIndex(['2019/12/30', '2019-12-31','2019 - jan-1'])

In [32]:
pda1

DatetimeIndex(['2019-12-30', '2019-12-31', '2019-01-01'], dtype='datetime64[ns]', freq=None)

In [33]:
#So multiple values can be passed to datetimeindex

In [37]:
#other method to create datetime index

In [40]:
pd.to_datetime(['2019-12-30', '2019-12-31', '2019-01-01'])

DatetimeIndex(['2019-12-30', '2019-12-31', '2019-01-01'], dtype='datetime64[ns]', freq=None)

In [41]:
pd.to_datetime(['2019-12-30'])

DatetimeIndex(['2019-12-30'], dtype='datetime64[ns]', freq=None)

In [59]:
#Create a series object , wtih series object we have methods

In [43]:
dt=pd.to_datetime(['2019-12-30', '2019-12-31', '2019-01-01'])

In [44]:
s=pd.Series(dt)

In [45]:
s

0   2019-12-30
1   2019-12-31
2   2019-01-01
dtype: datetime64[ns]

In [46]:
s.dt

In [47]:
s.dt.date

0    2019-12-30
1    2019-12-31
2    2019-01-01
dtype: object

In [49]:
s.dt.day

0    30
1    31
2     1
dtype: int64

In [53]:
s.dt.day_name()

0     Monday
1    Tuesday
2    Tuesday
dtype: object

In [55]:
s.dt.dayofweek

0    0
1    1
2    1
dtype: int64

In [56]:
s.dt.dayofyear

0    364
1    365
2      1
dtype: int64

In [58]:
s.dt.days_in_month

0    31
1    31
2    31
dtype: int64

# Time Span

In [60]:
pd.Period('2019-01-01')

Period('2019-01-01', 'D')

In [61]:
#So it returns period object , its pointing to span of time for gievn day, here it represent ful lday

In [63]:
pd.Period('2019-01') # this is span of january month

Period('2019-01', 'M')

In [65]:
pd.Period('2019') # This is span of one year

Period('2019', 'A-DEC')

In [68]:
pd.Period('2019-01-01 08:30:30') # This is span of seconds which is smallest unit

Period('2019-01-01 08:30:30', 'S')

In [70]:
pd.Period('2019-01-01', freq="M") # So we are forcing to provide period as month span

Period('2019-01', 'M')

In [71]:
p=pd.Period('2019-01-01 01:30:30', freq='H') # So here it represent span of hour

In [73]:
p+1 # SO lets add one hour to given hour so to period 1 , 1 hour is added

Period('2019-01-01 02:00', 'H')

In [74]:
p=pd.Period('2019-01-01 01:30:30', freq='4H')  # Here frequency is span of 4 hours

In [76]:
p+1 #So here 4 hours are added

Period('2019-01-01 05:00', '4H')

In [78]:
p-3 # go back 3 hours

Period('2018-12-31 13:00', '4H')

In [79]:
# we can override default freq  using offset

In [80]:
p+pd.offsets.Hour(3)

Period('2019-01-01 04:00', '4H')

In [81]:
p+pd.offsets.Minute(120) # her ewe can add i ndifferent unit but i should be compatible

Period('2019-01-01 03:00', '4H')

In [82]:
#So freq here is hour so if we try to add 10 mins it will not be possible

In [83]:
#Manipulating dates using datetime lib

In [84]:
import datetime as dt

In [85]:
p+dt.timedelta(minutes=180)

Period('2019-01-01 04:00', '4H')

In [86]:
p+dt.timedelta(seconds=3600)

Period('2019-01-01 02:00', '4H')

# Generate time sequence

In [87]:
#Generatig timeseries

In [92]:
import pandas as pd

In [93]:
pd.date_range(start='2019-01-01',end='2019-01-05')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [106]:
 pd.date_range(start='2019-01-01',end='2022-01-05' , freq='Y') #Year end

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [96]:
pd.date_range(start='2019-01-01',end='2019-02-01', freq='W') # it assumes week starts on sunday

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27'], dtype='datetime64[ns]', freq='W-SUN')

In [97]:
 pd.date_range(start='2019-01-01',end='2019-02-01', freq='W-MON') # force to start week on monday

DatetimeIndex(['2019-01-07', '2019-01-14', '2019-01-21', '2019-01-28'], dtype='datetime64[ns]', freq='W-MON')

In [102]:
pd1= pd.date_range(start='2019-01-01',end='2019-02-01', freq='W-MON') # force to start week on monday

In [103]:
pd1[0]

Timestamp('2019-01-07 00:00:00', freq='W-MON')

In [104]:
type(pd1)

pandas.core.indexes.datetimes.DatetimeIndex

In [105]:
#Refer to https://pandas.pydata.org/docs/user_guide/timeseries.html for all functions and methods

In [107]:
pd1= pd.date_range(start='2019-01-01',end='2019-02-01', freq='H')

In [108]:
pd1

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-01-31 15:00:00', '2019-01-31 16:00:00',
               '2019-01-31 17:00:00', '2019-01-31 18:00:00',
               '2019-01-31 19:00:00', '2019-01-31 20:00:00',
               '2019-01-31 21:00:00', '2019-01-31 22:00:00',
               '2019-01-31 23:00:00', '2019-02-01 00:00:00'],
              dtype='datetime64[ns]', length=745, freq='H')

In [109]:
pd.date_range(start='2019-01-01',end='2019-02-01', freq='6H') # add 6 hours

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 06:00:00',
               '2019-01-01 12:00:00', '2019-01-01 18:00:00',
               '2019-01-02 00:00:00', '2019-01-02 06:00:00',
               '2019-01-02 12:00:00', '2019-01-02 18:00:00',
               '2019-01-03 00:00:00', '2019-01-03 06:00:00',
               ...
               '2019-01-29 18:00:00', '2019-01-30 00:00:00',
               '2019-01-30 06:00:00', '2019-01-30 12:00:00',
               '2019-01-30 18:00:00', '2019-01-31 00:00:00',
               '2019-01-31 06:00:00', '2019-01-31 12:00:00',
               '2019-01-31 18:00:00', '2019-02-01 00:00:00'],
              dtype='datetime64[ns]', length=125, freq='6H')

In [113]:
pd.date_range(start='2019-01-01',periods=5, freq='6H') # add 6 hours , generate only 5 values

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 06:00:00',
               '2019-01-01 12:00:00', '2019-01-01 18:00:00',
               '2019-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

# Other variance

In [115]:
pd.date_range(start='2019-01-01',periods=5, freq=pd.DateOffset(months=2)) # add 2 months , generate only 5 values

DatetimeIndex(['2019-01-01', '2019-03-01', '2019-05-01', '2019-07-01',
               '2019-09-01'],
              dtype='datetime64[ns]', freq='<DateOffset: months=2>')

In [116]:
pd.date_range(start='2019-01-01',periods=5, freq=pd.DateOffset(weeks=2)) # add 2 months , generate only 5 values

DatetimeIndex(['2019-01-01', '2019-01-15', '2019-01-29', '2019-02-12',
               '2019-02-26'],
              dtype='datetime64[ns]', freq='<DateOffset: weeks=2>')

In [117]:
pd.date_range(start='2019-01-01',periods=5, freq=pd.DateOffset(seconds=20)) # add 2 months , generate only 5 values

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:00:20',
               '2019-01-01 00:00:40', '2019-01-01 00:01:00',
               '2019-01-01 00:01:20'],
              dtype='datetime64[ns]', freq='<DateOffset: seconds=20>')

In [119]:
# we can implement same concept with period_range

In [120]:
pd.period_range(start='2019-01-01',end='2019-02-01',freq='D')

PeriodIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
             '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
             '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
             '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
             '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
             '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
             '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
             '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01'],
            dtype='period[D]')